@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hello-style {
  font-family: "Bree Serif", serif;
}
.about-font,
.experience,
.projects {
  font-family: "Pridi", serif;
}
.header-font {
  font-family: "Creepster", cursive;
  font-size: 40px;
  margin-bottom: 20px;
}
.card-body-font {
  font-family: "Pridi", serif;
}
li {
  list-style-type: "✔ ";
}
.customScrollBar::-webkit-scrollbar {
  width: 20px;
}
.customScrollBar::-webkit-scrollbar-thumb {
  background: #504e4e;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

/* animations */
.service-anim {
  position: relative;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: 0.5s;
}
.service-anim:hover {
  transform: translateY(-30px);
}
.trans {
  transition: 0.8s ease-in-out;
}

.project {
  position: relative;
  box-shadow: 0 30px 30px -6px black;

  transform-origin: center;
  transform: perspective(800px) rotateY(20deg);
  transition: 0.5s;
}
.card-title {
  display: block;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #d3ae4e;
  padding: 2%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.card-desc {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  height: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: #fff;
  transition: 0.8s ease;
}
.project:hover .card-desc {
  opacity: 1;
  height: 60%;
}
.project:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}
.scroll-trans {
  transition: 0.8s ease;
}

/* mobile drawer */
.fly {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 8s cubic-bezier(0, 0.52, 0, 1);
  z-index: 10;
}
.fly-show {
  height: 100vh;
  background-color: #181a1b;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(0vw, 0, 0);
  transition: transform 0.8s cubic-bezier(0, 0.52, 0, 1);
  z-index: 10;
}

/* end of animation */

.jaro {
  background-color: "white";
  height: "100%";
  width: "100%";
  font-size: 100;
  font-family: '"Typewriter"';
  padding-top: "100px";
  padding-left: "50px";
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
